.App {
  text-align: center; }

.logo-container {
  position: relative;
  height: 80px; }
  .logo-container .App-logo {
    position: absolute;
    top: 13px;
    animation: App-logo-spin infinite 20s linear;
    width: 90px; }
  .logo-container svg {
    height: 90px;
    width: 90px;
    position: absolute; }
    .logo-container svg #poly-1 {
      animation: poly infinite 20s linear 0s; }
    .logo-container svg #poly-2 {
      animation: poly infinite 20s linear 2500ms; }
    .logo-container svg #poly-3 {
      animation: poly infinite 20s linear 5000ms; }
    .logo-container svg #poly-4 {
      animation: poly infinite 20s linear 7500ms; }
    .logo-container svg #poly-5 {
      animation: poly infinite 20s linear 10000ms; }
    .logo-container svg #poly-6 {
      animation: poly infinite 20s linear 12500ms; }
    .logo-container svg #poly-7 {
      animation: poly infinite 20s linear 15000ms; }
    .logo-container svg #poly-8 {
      animation: poly infinite 20s linear 17500ms; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

nav {
  padding: 10px; }

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 228px);
  overflow: hidden; }

.navButton {
  padding: 5px;
  background: #fff;
  border: 1px solid #db4d3f;
  box-shadow: 7px 7px 12px -6px rgba(0, 0, 0, 0.34);
  text-decoration: none;
  color: #db4d3f;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  outline: 0; }
  .navButton.active {
    color: #db4d3f;
    background: #222;
    border: 1px solid #db4d3f; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes poly {
  0% {
    fill: #222; }
  50% {
    fill: #db4d3f; }
  100% {
    fill: #222; } }
