.App {
  text-align: center;
}

.logo-container {
  position: relative;
  height: 80px;
  .App-logo {
    position: absolute;
    top: 13px;
    animation: App-logo-spin infinite 20s linear;
    width: 90px;
  }
  svg {
    height: 90px;
    width: 90px;
    position: absolute;
    #center {
      fill: #db4d3f;
    }
    polygon {
      fill: #fff;
      stroke-width: 0;
    }
    #poly-1 {
      animation: poly infinite 20s linear 0s;
    }
    #poly-2 {
      animation: poly infinite 20s linear 2500ms;
    }
    #poly-3 {
      animation: poly infinite 20s linear 5000ms;
    }
    #poly-4 {
      animation: poly infinite 20s linear 7500ms;
    }
    #poly-5 {
      animation: poly infinite 20s linear 10000ms;
    }
    #poly-6 {
      animation: poly infinite 20s linear 12500ms;
    }
    #poly-7 {
      animation: poly infinite 20s linear 15000ms;
    }
    #poly-8 {
      animation: poly infinite 20s linear 17500ms;
    }
  }
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: #222;
}

.App-intro {
  font-size: large;
}

nav {
  padding: 10px;
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 228px);
  overflow: hidden;
}

.navButton {
  padding: 5px;
  background: #fff;
  border: 1px solid #db4d3f;
  box-shadow: 7px 7px 12px -6px rgba(0, 0, 0, 0.34);
  text-decoration: none;
  color: #db4d3f;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
  &.active {
    color: #fff;
    background: #222;
    border: 1px solid #db4d3f;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes poly {
  0% {
    fill: #fff;
  }
  50% {
    fill: #222;
  }
  100% {
    fill: #fff;
  }
}
