.Page1 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  transform: translateZ(0);
  transition: all 0.5s ease;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  &.routeTransition-enter,
  &.routeTransition-exit-active,
  &.routeTransition-exit {
    transform: translateX(400px);
    opacity: 0;
  }
  &.routeTransition-enter-active,
  &.routeTransition-enter-done {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  margin: auto;
  width: 50vw;
  padding-top: 25px;
}

.controls {
  text-align: left;
  padding-bottom: 5px;
}

.stacking-controls {
  display: inline-block;
  margin-left: 10px;
  select {
    margin-right: 10px;
  }
  label {
    input {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.generation {
  float: right;
}

.cellContainer {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #222;
  box-shadow: 7px 7px 12px -6px rgba(0, 0, 0, 0.34);
  overflow: hidden;
  position: relative;
  .cellRow {
    display: flex;
    width: 100%;
  }
  .cell {
    background: #fff;
    &.alive {
      background: #000;
      color: #fff;
    }
    &.born {
      background: blue;
    }
    &.dying {
      background: red;
    }
    &.simple {
      line-height: 30px;
      height: 30px;
    }
    &.stacking {
      height: 10px;
      position: absolute;
      transform: translateZ(0);
    }
  }
}
